<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly"
    package="com.adguard.android.contentblocker">

    <uses-permission android:name="com.samsung.android.sbrowser.permission.CONTENTBLOCKER" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.samsung.android.sbrowser.contentBlocker.interfaceVersion"
            android:value="API_1.0" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Toolbar" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Toolbar" />

        <activity
            android:name=".ui.FiltersActivity"
            android:label="@string/filters"
            android:parentActivityName=".ui.SettingsActivity"
            android:theme="@style/AppTheme.Toolbar" />

        <activity
            android:name=".ui.UserFilterActivity"
            android:label="@string/user_filter"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Toolbar" />

        <activity
            android:name=".ui.WhitelistActivity"
            android:label="@string/whitelist_title"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Toolbar" />

        <activity
            android:name=".ui.NoBrowsersFoundActivity"
            android:theme="@style/AppTheme.Toolbar" />

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".FiltersContentProvider"
            android:authorities="com.adguard.android.contentblocker.contentBlocker.contentProvider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" />

        <receiver android:name=".receiver.BootUpReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="com.adguard.android.contentblocker" />
                <data android:scheme="package" android:path="com.sec.android.app.sbrowser" />
            </intent-filter>
        </receiver>

        <service
            android:exported="true"
            android:name=".FilterUpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>